/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
} */

:root {
  --md-sys-color-primary: rgb(23 53 200);
  --md-sys-color-surface-tint: rgb(52 77 220);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(71 95 237);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(81 90 149);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(190 197 255);
  --md-sys-color-on-secondary-container: rgb(41 51 108);
  --md-sys-color-tertiary: rgb(127 15 143);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(170 64 183);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(251 248 255);
  --md-sys-color-on-background: rgb(26 27 35);
  --md-sys-color-surface: rgb(251 248 255);
  --md-sys-color-on-surface: rgb(26 27 35);
  --md-sys-color-surface-variant: rgb(225 225 244);
  --md-sys-color-on-surface-variant: rgb(68 70 85);
  --md-sys-color-outline: rgb(117 118 134);
  --md-sys-color-outline-variant: rgb(197 197 215);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 48 57);
  --md-sys-color-inverse-on-surface: rgb(241 239 252);
  --md-sys-color-inverse-primary: rgb(187 195 255);
  --md-sys-color-primary-fixed: rgb(222 224 255);
  --md-sys-color-on-primary-fixed: rgb(0 14 93);
  --md-sys-color-primary-fixed-dim: rgb(187 195 255);
  --md-sys-color-on-primary-fixed-variant: rgb(15 48 197);
  --md-sys-color-secondary-fixed: rgb(222 224 255);
  --md-sys-color-on-secondary-fixed: rgb(10 20 78);
  --md-sys-color-secondary-fixed-dim: rgb(187 195 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 66 124);
  --md-sys-color-tertiary-fixed: rgb(255 214 252);
  --md-sys-color-on-tertiary-fixed: rgb(54 0 62);
  --md-sys-color-tertiary-fixed-dim: rgb(252 170 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(123 6 139);
  --md-sys-color-surface-dim: rgb(218 217 229);
  --md-sys-color-surface-bright: rgb(251 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 242 254);
  --md-sys-color-surface-container: #113c60;
  --md-sys-color-surface-container-high: rgb(232 231 243);
  --md-sys-color-surface-container-highest: rgb(227 225 237);
}

body {
  background-color: rgb(234 231 230);
  padding: 0;
  margin: 0;
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}
*/
